{% autoescape off %}
Hi {{user.first_name}},

We received a request to reset the password associated with your account at ABS skincare. If you did not make this request, you can safely ignore this email.

To reset your password, please click on the following link:

http://{{domain}}{% url 'resetpassword_validate' uidb64=uidb64 token=token %}

If you encounter any issues or need further assistance, please don't hesitate to contact our support team at [Support Email:eeeadris1@gmail.com].

Thank you for choosing ABS skincare.

Best regards,
ABS skincare.
{% endautoescape off %}
