{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form action="{% url 'place_order' %}" method="POST" id="form">
					{% csrf_token %}
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="first_name" placeholder="First name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="text" name="last_name" placeholder="Last name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="phone_number" name="phone" placeholder="Phone number..">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>
						<div class="text-field">
							<input class="form-control" type="text" name="order_note" placeholder="Order note..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Place Order">
				</form>
			</div>

			<br>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
              <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>

			  <h6>Items: {{ quantity }}</h6>
			  <h6>Total: ${{ total|floatformat:2 }}</h6>
				<h6>Tax: ${{ tax|floatformat:2 }}</h6>
				<h6>Grand Total: ${{ grand_total|floatformat:2 }}</h6>

    </div>
  </div>

</div>



<br>
<br>
<br>
<br>
{% endblock content %}